.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.screen{
  max-width: 50%;
  margin: 20px 50px;
  margin-bottom: 100px;
}
.columns{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.columnname{
  margin-bottom: 10px;
}
.button,.title{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.fieldname,.fieldvalue{
  display: inline-block;
  margin-right: 10px;
  width:100px;
}
.inputfield,.selectfield,.datefield{
  margin-bottom: 15px;
  margin-top: 10px;
}
button{
  font-size: 15px;
  padding: 10px;
  width: 100px;
  background: #097b0e;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
button:hover{
  background: #0d5811;
}
input,select{
    padding: 3px 7px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}